* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
}

#btnChangePic{
  text-decoration: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 15px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}

#btnChangePic:hover {
  background-position: right center;
}

#time{
  font-size: 7rem;
  margin-bottom: 3rem;
}
#day{
  font-size: 3rem;
  margin-bottom: 3rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
